/* global rules */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

:root {
  --main-color: #555;
  --secondery-color: #2c4755;
  --heading-color: #ebeced;
  --section-background-color: #f6f6f6;
}

body {
  font-family: 'Work Sans', sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.special-heading {
  text-align: center;
  font-size: 100px;
  letter-spacing: -3px;
  color: var(--heading-color);
  margin: 0;
}

/* end of global rules  */
/* start header */
header {
  padding: 20px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 60px;
}

header .container .links {
  position: relative;
}


header .container .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  cursor: pointer;
}

header .container .links .icon span {
  width: 100%;
  height: 2px;
  background-color: #222;
  margin-bottom: 5px;
}

header .container .links .icon span:frist-child {
  width: 100%;
}

header .container .links .icon span:nth-child(2) {
  width: 70%;
  transition: .3s;
}

header .container .links .icon span:nth-child(2).open {
  width: 100%;
}

header .container .links .icon span:last-child {
  width: 100%;
}

header .container .links ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: calc(100% + 20px);
  right: 0;
  background-color: #EEE;
  min-width: 200px;
  display: none;
  z-index: 1;
  transition: .3s;
}

header .container .links ul.open {
  display: block;
}

header .container .links ul::before {
  content: "";
  border: 10px solid #EEE;
  border-color: transparent transparent #EEE transparent;
  position: absolute;
  top: -20px;
  right: 5px;
}

header .container .links ul li a {
  display: block;
  text-decoration: none;
  color: #222;
  padding: 15px;
  transition: .3s;
}

header .container .links ul li a:hover {
  padding-left: 30px;
}

header .container .links ul li:not(:last-child) {
  border-bottom: 2px solid #DDD;
}

/* end header */
/* start landing */
div.land-scape {
  background-image: url(../img/landing.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}

div.land-scape div.intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.intro-text h3 {
  margin: 0;
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--main-color);
  font-size: 50px;
}

div.intro-text p {
  text-align: center;
  font-size: 20px;
  line-height: 1.8;
  width: 320px;
  max-width: 100%;
}

/* end landing */
/* start features */
.features {
  padding: 60px 0;
  background-color: #f6f6f6;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.features .container .feat {
  padding: 10px;
  text-align: center;
}

.features .container .feat i {
  font-size: 40px;
  color: var(--main-color);
}

.features .container .feat h3 {
  font-weight: 800;
  text-transform: capitalize;
  padding: 10px;
}

.features .container .feat p {
  line-height: 1.8;
  color: #222;
  font-size: 18px;
}

/* end features */
/* start services */
.services .container .special-heading+p {
  text-align: center;
  margin-top: -30px;
  color: #555;
}

@media (max-width:768px) {
  .services .container {
    width: 350px;
  }

  .services .container .special-heading {
    font-size: 70px;
  }

  .services .container .special-heading+p {
    margin-top: -20px;
  }
}

.services div.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}

.services div.services-content .srv {
  margin-bottom: 40px;
  display: flex;
}

@media (max-width:768px) {
  .services div.services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}

.services div.services-content .srv i {
  color: var(--main-color);
  flex-basis: 60px;
  font-size: 25px;
}

.services div.services-content .srv .text {
  flex: 1;
}

.services div.services-content .srv .text h3 {
  text-transform: capitalize;
  margin: 0;
}

.services div.services-content .srv .text p {
  color: #555;
  font-weight: 300;
  line-height: 1.6;
}

.services div.services-content .image {
  text-align: center;
  position: relative;
}

@media (max-width:1200px) {
  .services div.services-content .image {
    display: none;
  }
}

.services div.services-content .image::after {
  content: "";
  width: 100px;
  height: calc(100% + 100px);
  background-color: var(--secondery-color);
  position: absolute;
  top: -50px;
  right: 0;
  z-index: -1;
}

.services div.services-content .image img {
  width: 260px;
}

/* end services */
/* start portifolio */
.portifolio {
  background-color: var(--section-background-color);
  padding: 40px 0;
}

.portifolio .container .portifolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 80px;
}

.portifolio .container .portifolio-content .project {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.portifolio .container .portifolio-content .project img {
  max-width: 100%;
}

.portifolio .container .portifolio-content .project .text {
  padding: 20px;
}

.portifolio .container .portifolio-content .project .text h3 {
  margin: 0;
}

.portifolio .container .portifolio-content .project .text p {
  color: #555;
  line-height: 1.8;
  margin-bottom: 0;
}

/* end portifolio */
/* start about */
.about {
  padding-top: 60px;
  padding-bottom: 120px;
}

.about .container .about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about .container .about-content .img {
  width: 250px;
  height: 375px;
  position: relative;
}

.about .container .about-content .img img {
  max-width: 100%;
}

.about .container .about-content .img::before {
  content: "";
  width: 125px;
  height: 475px;
  background-color: var(--heading-color);
  position: absolute;
  top: -50px;
  left: -40px;
  z-index: -1;
}

.about .container .about-content .img::after {
  content: "";
  width: 100px;
  height: calc(100% - 60px);
  position: absolute;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  top: -50px;
  right: -127px;
  z-index: -1;
}

@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }

  .about .about-content .img {
    margin: 0 auto 60px;
  }

  .about .container .about-content .img::before,
  .about .container .about-content .img::after {
    display: none;
  }
}

.about .container .about-content .text {
  flex-basis: calc(100% - 500px);
  max-width: 100%;
}

.about .container .about-content .text p:first-of-type {
  font-weight: 800;
  line-height: 2;
  margin-bottom: 50px;
}

.about .container .about-content .text hr {
  width: 50%;
  border-color: var(--main-color);
}

.about .container .about-content .text p:last-of-type {
  color: #777;
  line-height: 2;
}

/* end about */
/* start contact */
.contact {
  background-color: var(--section-background-color);
  padding: 60px 0 120px;
}

.contact .info p {
  text-align: center;
  margin-top: 100px;
  font-size: 30px;
  font-weight: 800;
  color: var(--secondery-color);
  letter-spacing: -2px;
}

@media (max-width: 768px) {
  .contact .info p {
    font-size: 27px;
  }
}

.contact .info a {
  display: block;
  text-align: center;
  text-decoration: none;
  margin-bottom: 40px;
  color: var(--main-color);
  font-size: 30px;
  font-weight: 800;
}

.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
  text-transform: capitalize;
}

.contact .info .social i {
  color: var(--secondery-color);
  margin-left: 10px;
}

/* end contact */
/* start footer */
.footer {
  background-color: var(--secondery-color);
  text-align: center;
  padding: 20px 0;
  color: white;
  font-size: 20px;
}

.footer span {
  color: var(--main-color);
}

/* end footer */